/* ===== ROOT ===== */
.menu-root {
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "up-objective"
        "up-expedition"
        "up-expansion"
        "up-permanents";
}

/* ===== ÁREA 1 ===== */
.up-objetive {
    grid-area: up-objective;
    display: grid;
}

.up-permanents {
    grid-area: up-permanents;
}

.up-expansion {
    grid-area: up-expansion;
}

.up-expedition {
    grid-area: up-expedition;
}