/* ===== ROOT ===== */
.menu-root {
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "expedition-toggle"
        "expansion-party"
        "expedition-status"
        "expedition-gain";
}

.expedition-toggle {
    grid-area: expedition-toggle;
}

.expedition-party {
    grid-area: expedition-party;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
    justify-items: center;
}

.character-button.selected {
    background: rgb(106, 196, 196);
}


.expedition-status {
    grid-area: expedition-status;
}

.expedition-gain {
    grid-area: expedition-gain;
}


