/* ===== Root ===== */
.menu-root {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "tech-knowledge"
        "tech-available"
        "tech-done";
}

/* ===== Conhecimentos (tabela) ===== */
.tech-knowledge {
    grid-area: tech-knowledge;
}

.tech-available {
    grid-area: tech-available;
}

.tech-done {
    grid-area: tech-done;
}